body {
  font: small/1.6em Verdana, Helvetica, Arial, sans-serif;
}

h1, h2 {
  color:               #007e7e;
}

h1 {
  font-size:           150%;
}

h2 {
  font-size:           130%;
}

#guarantee {
  border: white 1px dashed;
  padding:             25px 25px 25px 105px;
  margin:              30px 280px 30px 30px;
  color:               #444444;
  font: italic small/1.9em Georgia, "Times New Roman", Times, serif;
  background: #a7cece url(images/background.gif) top left no-repeat;
}

#elixirs {
  border: thin solid #007e7e;
  width: 200px;

  padding: 0px 20px 20px 20px;

  margin-left: 20px;

  text-align: center;

  background-image: url(images/cocktail.gif);
  background-repeat: repeat-x;

  line-height: 1;
}

#elixirs h2 {
  color: black;
}

#elixirs h3 {
  color: #d12c47;
}

#footer {
  font-size: 50%;
  text-align: center;
  line-height: normal;
  margin-top: 30px;
}

.cd {
  font-style: italic;
}

.artist {
  font-weight: bold;
}

a:link {
  color: green;
}

a:visited {
  color: red;
}

a:hover {
  color: yellow;
}